




<div class="container">


	<div class="row space">
		<div class="col">

			<h2>Time</h2>
			<ul>
				<li><button>60 Sec</button></li>
				<li><button>1m 30s</button></li>
			</ul>

		</div>
	</div>


	<div class="row space">
		<div class="col">

			<h2>Multiples</h2>	
			
			<ul>

				<li> <button>Random</button> </li>

				<li> <button> 0's </button> </li>
				<li> <button> 1's </button> </li>
				<li> <button> 2's </button> </li>
				<li> <button> 3's </button> </li>

				<li> <button> 4's </button> </li>
				<li> <button> 5's </button> </li>
				<li> <button> 6's </button> </li>

				<li> <button> 7's </button> </li>
				<li> <button> 8's </button> </li>
				<li> <button> 9's </button> </li>

				<li> <button> 10's </button> </li>
				<li> <button> 11's </button> </li>
				<li> <button> 12's </button> </li>
			</ul>

		</div>
	</div>


</div>

	<div class="spacer"></div>
