

<div class="container">

	<div class="row">
		<div class="col"><script data-ad-client="ca-pub-1251247323584006" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h2>Tools to help build math basic skills</h2>
		</div>
		
	</div>

  <div class="row space">

    <div class="col-sm-4 center-content">
		<a class="nav-link" (click)="setTitle('K-5 Math Tools - Multiplication Challenge ')" routerLink="/challenge-1" routerLinkActive = "active">
			<img src="../../assets/img/chris-liverani-ViEBSoZH6M4-unsplash.jpg">
	  		<h5> Multiplication Challenge</h5>
	  	</a>
    </div>

  </div>

</div><!-- End Container -->








	
