
<div class="container">

  <p id="timer">Timer <br/> {{seconds}} </p>

  <p id="expression">  
    <span class="factor1">{{f1}}</span> 
    <br/>
    <span class="factor2">{{f2}}</span>
    <span id="operator">x</span>  
  </p>
  
  <form action=" " id="form" (submit) ="submit($event)">

    <input id="input" type="text" [value] = "value" [placeholder] = "placeHolder" autocomplete="off"  (input) = "getInput($event)" >

  </form> 


  <ul>
  	<li *ngFor = "let o of ones">Ones: {{ones}}</li>
  	<li *ngFor = "let t of two">two's: {{two}}</li>
  	<li *ngFor = "let th of three">thress's: {{three}}</li>
  	<li *ngFor = "let f of four">Four's: {{four}}</li>
  	<li *ngFor = "let fv of five">Five's: {{five}}</li>
  	<li *ngFor = "let sx of six">Six's: {{six}}</li>
  	<li *ngFor = "let svn of seven">Seven's: {{seven}}</li>
  	<li *ngFor = "let egt of eight">Eight's: {{eight}}</li>
  </ul>

<p id="tally">
  Correct: {{correct}} <br/>
  	Incorrect: {{incorrect}}
 </p>

</div>
