
<div class="container">

  <p id="timer">Timer <br/> {{seconds}} </p>

 <!-- <button (click) = "resutls($event)">Show Resutls</button> -->

  <p id="expression">  
    <span class="factor1">{{f1}}</span> 
    <br/>
    <span class="factor2">{{f2}}</span>
    <span id="operator">x</span>  
  </p>
  
  <form action=" " id="form" (submit) ="submit($event)">

    <input id="input" type="text" [value] = "value" [placeholder] = "placeHolder" autocomplete="off"  (input) = "getInput($event)" >

  </form> 


 <!-- <p *ngFor = "let one of ones">{{ones}}</p> -->
  

<p id="tally">
  Correct: {{correct}} <br/>
  	Incorrect: {{incorrect}}
 </p>

</div>
