<!--

<nav class="container">

  <ul>
    <li><a routerLink="/intro-component" routerLinkActive = "active">Intro Component</a></li>
    <li><a routerLink="/expression-component" routerLinkActive = "active">Expression Component</a></li>
  </ul>

  
</nav>


<router-outlet></router-outlet> 
-->

<app-expression></app-expression>

<footer>

	<div class="container">
		<div class="row">
  			<div class="col">
  				<p> Copyright &copy; 2021 - ALICIA INC</p>
  			</div>
		</div>
	</div>

</footer> 




