/*

Color Scheme

blue: #36b6f5;
violet: #9b36f5;
yellow: #f5e836
black: #3f3f40 (?)


*/


footer{

	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	color: white;
	text-align: center;
	background-color: #3f3f40;

}

footer p{

	margin-bottom: 0;
}

