/*

Color Scheme

blue: #36b6f5;
violet: #9b36f5;
yellow: #f5e836
black: #3f3f40 (?)


*/
/*
.bg-light{

	background-color: #f5e836 !important;
}

.navbar-light .navbar-brand{

	color: white !important;
}

.navbar-light .navbar-nav .nav-link{

	color: white !important;
}
*/

/*
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link{

	color: white;
}
*/



footer{

	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	color: black;
	text-align: center;

}

footer p{

	margin-bottom: 0;
}

