
p {
    margin: 0;
    padding: 0;
}


li{
  list-style-type: none;
  font-weight: bold;
}


input:focus{

  outline: 0;
}

.factor1,.factor2{

  display: block;
  text-align: right;
  line-height: 125px;
}

#operator{

  position: absolute;
  left: 20px;
  bottom: 0;
  line-height: 125px;
}


.green{

  color: green;
}
.red{

  color: red;
}

#timer{

  text-align: center;
}

#timer, #tally{

  margin-top: 10px;
}

#tally{

  margin-top: 10px;
}


 #expression{

  text-align: center;
}

#form{

  width: 200px;
  margin:0 auto;

}


#expression {

  width: 200px;
  height: auto;
  font-size: 100px;

  margin:50px auto 0;
  position: relative;
  border-bottom: 2px solid black;

}

#timer{

  /*position: absolute; right: 20px; top: 0px; width: 40px; */
 
  font-size: 20px;
}


#input{

  width: 200px;
  margin: 5px 0 0;
  padding: 0;
  text-align: right;
  border: 1px solid #CDCDCD;
  font-size: 90px;
  font-weight: normal;
}


#tally{

  margin: 5px 0 0;
}

#tally li{

  display: inline-block; 
  float: left;
  margin: 0 5px;

}




