@import "~bootstrap-icons/font/bootstrap-icons.css";


p {
    margin: 0;
    padding: 0;
}



input:focus{

  outline: 0;
}

/* Chrome, Safari, Edge, Opera - remove arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.clearfix::after{

  content: " ";
  clear: both;
  display: table;
}

.factor1,.factor2{

  display: block;
  text-align: right;
  line-height: 125px;
}

.bi-gear{

  float: right;
  font-size: 24px !important;
}

#settings{

  position: relative;
}


.settings-box{

  width: 150px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 36px;
  right: 0;
  /*margin-right: 16px;*/
  border: 1px solid #ccc;
  border-bottom: transparent;
  background-color: white;
  overflow: scroll;
}


.settings-ul{

  margin: 0;
  padding-left: 0;
}

.settings-ul li{

  width: 100%;
  float: right;
  clear: right;
  padding:10px 10px;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}
.settings-ul li:hover{

  cursor: pointer;
}

#timer{

  text-align: center;
}

#tally, #timer{

  font-size: 15px;
  margin-top: 10px;
  padding-left: 0;
}

#tally li{

  display: inline-block;
  float: left;
  margin: 0 5px;
  list-style-type: none;
  text-align: left;
}


.green, .red{

  font-weight: bold;
}
/*
.green{

  color: green;
}
.red{

  color: red;
}
*/

 #expression{

  text-align: center;
}

#operator{

  position: absolute;
  left: 20px;
  bottom: 0;
  line-height: 125px;
}

#form{

  width: 200px;
  margin:0 auto;

}


#expression {

  width: 200px;
  height: auto;
  font-size: 100px;

  margin:50px auto 0;
  position: relative;
  border-bottom: 2px solid black;

}

#input,#keypadEntry{

  width: 200px;
  height: auto;
  margin: 5px 0 0;
  padding: 0;
  text-align: right;
  border: 1px solid #CDCDCD;
  font-size: 100px;
  font-weight: normal;
}

#keypadEntry{

  margin: 0 auto;
  
}


#keypad{

  width: 285px;
  margin: 75px 0 0;
}

.k-btn{  

  width: 75px;
  height: 75px;
  font-size: 26px;
  margin: 0 10px 15px;
  border: 1px solid #d584db;
  background-color: transparent;

}
.k-btn:disabled{

  color: black;
  border: 1px solid #d584db;
  background-color: transparent;
}


.btn-center{

display: block;
  margin: 0 auto;
}

.red{

  color: red;
}
