

 <div class="container">

  <div class="row">

    <div class="col-sm-3">

      <ul id="tally" class="clearfix">
      <li><span class="green">Correct:</span> {{correct}} </li>
       <li><span class="red"> Incorrect:</span> {{incorrect}} </li>

     </ul>
    </div>

    <div class="col-sm-2 offset-sm-2">
      <p id="timer"><b>Timer:</b> {{seconds}} </p>
    </div>


    <div id="settings" class="col-sm-3 offset-sm-2">
      <i class="bi bi-gear" title="Settings" (click)="showSettings($event)"></i>
      <i class="bi bi-keyboard" title="Keyboard" (click)="showKeypad($event)"></i>
    </div>

      <div [style.display]="displaySettings" class="settings-box col">


        <div class="inside-box clearfix">
          <h4>Settings</h4>
          <i id="close" class="bi bi-x" (click)="closeSettings($event)"></i>
        </div>


        <div class="inside-box">

          <h5 class="settings-title">Time</h5>
            
            <ul class="settings-ul clearfix">

            <li>
              <input type="checkbox" name="sec" class="chk-boxes" (click)="changeSettings($event, 60)">
              <label for="sec"> 60 sec </label>
            </li>

            <li>
              <input type="checkbox" name="sec"  class="chk-boxes"(click)="changeSettings($event, 180)">
              <label for="sec"> 120 sec </label>
            </li>
          </ul>

        </div>


        <div class="inside-box">


          <h5 class="settings-title">Multiples</h5>

          <ul class="settings-ul clearfix">

            <li>
              <input (click)="changeFactors($event, true, false, 0)" type="checkbox" name="m" class="chk-boxes">  
              <label for="m"> Random</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 0)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 0</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 1)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 1</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 2)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 2</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 3)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 3</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 4)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 4</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 5)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 5</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 6)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 6</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 7)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 7</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 8)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 8</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 9)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 9</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 10)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 10</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 11)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 11</label>
            </li>
            <li> 
              <input (click)="changeFactors($event, false, true, 12)" type="checkbox" name="m" class="chk-boxes"> 
              <label for="m"> Mutiples of 12</label>
            </li>

          </ul>

        </div>

        <div class="inside-box clearfix">
          <button class="start" (click)="start($event)">START</button>
        </div>

      </div> <!--end Settings Box -->

    </div><!-- end row -->



 <!-- <button (click) = "resutls($event)">Show Resutls</button>

 <div class="row">
  <div class="col-sm-3 offset-sm-8"> 
      <p id="timer"><b>Timer</b><br/> {{seconds}} </p>
  </div>
   
 </div>-->


  <div class="row">


    <div [class]="moveExpression"> <!--col-sm-5 offset-sm-1-->
      <p id="expression">  
        <span class="factor1">{{f1}}</span> 
        <span class="factor2">{{f2}}</span>
        <span id="operator">x</span>  
      </p>
      
      <form action=" " id="form" (submit) ="submit($event)" [style.display] = "hideForm">

        <input id="input" type="number" [class]="turnRed" [value] = "value" [placeholder] = "placeHolder" autocomplete="off"  (keypress)="getKeyPress($event)" (input) = "getInput($event)" >

      </form> 

      <p id="keypadEntry" [style.display] = "showKeypadEntry" [class]="turnRed">{{keypadEntry}}</p>

    </div>


     <div class="col-sm-5 " [style.display] = "displayKeypad" >
       
       <div id= "keypad">

        <button id="btn-1" class="k-btn" (click)= "keyPadPress($event)" value="1" [disabled] = "btnDisabled">1</button>
        <button id="btn-2" class="k-btn" (click)= "keyPadPress($event)" value="2" [disabled] = "btnDisabled">2</button>
        <button id="btn-3" class="k-btn" (click)= "keyPadPress($event)" value="3" [disabled] = "btnDisabled">3</button><br/>
        <button id="btn-4" class="k-btn" (click)= "keyPadPress($event)" value="4" [disabled] = "btnDisabled">4</button>
        <button id="btn-5" class="k-btn" (click)= "keyPadPress($event)" value="5" [disabled] = "btnDisabled">5</button>
        <button id="btn-6" class="k-btn" (click)= "keyPadPress($event)" value="6" [disabled] = "btnDisabled">6</button><br/>
        <button id="btn-7" class="k-btn" (click)= "keyPadPress($event)" value="7" [disabled] = "btnDisabled">7</button>
        <button id="btn-8" class="k-btn" (click)= "keyPadPress($event)" value="8" [disabled] = "btnDisabled">8</button>
        <button id="btn-9" class="k-btn" (click)= "keyPadPress($event)" value="9" [disabled] = "btnDisabled">9</button><br/>
        <button id="btn-0" class="k-btn btn-center" (click)= "keyPadPress($event)" value="0" [disabled] = "btnDisabled">0</button>

         
       </div>


     </div>




  </div>


<!--

  <div class="row" *ngIf = "timerComplete">
    <div class="col">

      <h2>Practice</h2>

      <p>Zero: {{ zero.join(" ")}}</p>
      <p>One's: {{ ones.join(" ")}}</p>
      <p>Two's:{{  two.join(" ")}}</p>
      <p>Three's {{ three.join(" ")}}</p>
      <p>Forur's : {{ four.join(" ")}}</p>
      <p>Five's: {{ five.join(" ")}}</p>
      <p>Six's: {{ six.join(" ")}}</p>
      <p>Seven's: {{ seven.join(" ")}}</p>
      <p>Eight's: {{ eight.join(" ")}}</p>
      <p>Nine's: {{ nine.join(" ")}}</p>
      <p>Ten's: {{ ten.join(" ")}}</p>
      <p>Eleven's:{{ eleven.join(" ")}}</p>
      <p>Twelve's: {{ twelve.join(" ")}}</p>
    </div>
  </div>

-->

</div>

<div class="spacer"></div>





