


 <div class="container">

  <div class="row">

    <div class="col-sm-6">
      <ul id="tally">
      <li><span class="green">Correct:</span> {{correct}} </li>
       <li><span class="red"> Incorrect:</span> {{incorrect}} </li>
     </ul>
    </div>


    <div id="settings" class="col-sm-3 offset-sm-3">
      <i class="bi bi-gear" (click)="showSettings($event)"></i>

      <div [style.display] = "display" class="settings-box">
        <ul class="settings">
          <li (click)="changeSettings($event, 60)"><i class="bi bi-plus"></i>60 s</li>
          <li (click)="changeSettings($event, 180)"><i class="bi bi-plus"></i>180 s</li>
        </ul>
      </div>
    </div>

  </div>



 <!-- <button (click) = "resutls($event)">Show Resutls</button> -->

 <div class="row">
  <div class="col-sm-3 offset-sm-8">
      <p id="timer"><b>Timer</b><br/> {{seconds}} </p>
  </div>
   
 </div>


  <div class="row">
    <div class="col">

      <p id="expression">  
        <span class="factor1">{{f1}}</span> 
        <span class="factor2">{{f2}}</span>
        <span id="operator">x</span>  
      </p>
      
      <form action=" " id="form" (submit) ="submit($event)">

        <input id="input" type="number" [value] = "value" [placeholder] = "placeHolder" autocomplete="off"  (input) = "getInput($event)" >

      </form> 

    </div>
  </div>


<!--

  <div class="row" *ngIf = "timerComplete">
    <div class="col">

      <h2>Practice</h2>

      <p>Zero: {{ zero.join(" ")}}</p>
      <p>One's: {{ ones.join(" ")}}</p>
      <p>Two's:{{  two.join(" ")}}</p>
      <p>Three's {{ three.join(" ")}}</p>
      <p>Forur's : {{ four.join(" ")}}</p>
      <p>Five's: {{ five.join(" ")}}</p>
      <p>Six's: {{ six.join(" ")}}</p>
      <p>Seven's: {{ seven.join(" ")}}</p>
      <p>Eight's: {{ eight.join(" ")}}</p>
      <p>Nine's: {{ nine.join(" ")}}</p>
      <p>Ten's: {{ ten.join(" ")}}</p>
      <p>Eleven's:{{ eleven.join(" ")}}</p>
      <p>Twelve's: {{ twelve.join(" ")}}</p>
    </div>
  </div>

-->

</div>





