@import "~bootstrap-icons/font/bootstrap-icons.css";


p {
    margin: 0;
    padding: 0;
}



input:focus{

  outline: 0;
}

/* Chrome, Safari, Edge, Opera - remove arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.clearfix::after{

  content: " ";
  clear: both;
  display: table;
}

.factor1,.factor2{

  display: block;
  text-align: right;
  line-height: 125px;
}

.bi-gear{

  margin-left: 25px;
}

.bi-gear, .bi-keyboard{

  float: right;
  font-size: 24px !important;
}

#settings{

  position: relative;
}


#settings ul li{

  float: left;
  margin-top: 10px;
  display: inline-block;
}

.usrTools{

  float: right !important;
}

.settings-box{

  width: 600px;
  height: 500px;
  position: fixed;
  z-index: 50;
  top: 36px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #ccc;
  background-color: white;
  overflow: scroll;
}

.inside-box h4{

  display: inline-block;
} 

.inside-box p{

  padding: 5px 0;
  margin: 0;
}

.inside-box{

  padding: 15px;
  border-bottom: 1px solid #dee2e6;

}


.settings-ul{

  margin: 0;
  padding: 10px 10px;
  display: block;
}

.settings-ul li{

  width: 150px;

  display: inline-block;
  float: left;
  margin:5px 5px;
  padding: 5px 10px;
  font-size: 16px;
  text-align: left;
  list-style-type: none;
}
.settings-ul li:hover{

  cursor: pointer;
}
/*
#timer{

  text-align: center;
}
*/


#timer{

  font-size: 15px;
  margin-top: 10px;
  padding-left: 0;
}

#resutls{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  opacity: 0.1;
  z-index: 90;

}


#resutls-box{

  position: relative;
  width: 60%;
  left: 0;
  right: 0;
  color: black;
  background-color: white;
  margin: 0 auto;
  border: 1px solid black;

}

#resutls-box{

   padding: 50px 0;
}


#resutls-box button{

  margin-top: 40px;
}


.green, .red{

  font-weight: bold;
}
/*
.green{

  color: green;
}
.red{

  color: red;
}
*/

 #expression{

  text-align: center;
}

#operator{

  position: absolute;
  left: 20px;
  bottom: 0;
  line-height: 125px;
  z-index: 2;
}

#form{

  width: 200px;
  margin:0 auto;

}


#expression {

  width: 200px;
  height: auto;
  font-size: 100px;

  margin:50px auto 0;
  position: relative;
  border-bottom: 2px solid black;
  z-index: 1;

}

#input,#keypadEntry{

  width: 200px;
  height: auto;
  margin: 5px 0 0;
  padding: 0;
  text-align: right;
  border: 1px solid #CDCDCD;
  font-size: 100px;
  font-weight: normal;
}

#keypadEntry{

  margin: 0 auto;
  
}


#keypad{

  width: 285px;
  margin: 75px 0 0;
}

.k-btn{  

  width: 75px;
  height: 75px;
  font-size: 26px;
  margin: 0 10px 15px;
  border: 1px solid #d584db;
  background-color: transparent;

}
.k-btn:disabled{

  color: black;
  border: 1px solid #d584db;
  background-color: transparent;
}


.btn-center{

display: block;
  margin: 0 auto;
}

.red{

  color: red;
}

.green{

  color: green;
}

.chk-boxes{

  margin-right: 4px;
}

.myBtn{

  background-color: #d584db;
  float: right;
}



#close{

 position: absolute;
 right: 5px;
 top:5px;
 height: auto;
 width: auto;
}

.bi{ 

  font-size: 24px;
  line-height: 0;

 }
 .bi:hover{

    cursor: pointer;
 }

.tally{

  position: absolute;
  left: 2px;
  right: 2px;
  margin-left: auto;
  margin-right: auto;
  width:100px;
  text-align: center;
}


